* {
  font-family: "JetBrains Mono Nerd Font";
  /*font-family: "JetBrainsMono Nerd Font";*/
  font-weight: bold; 
  font-size: 15px;
  color: #a9b1d6;
}

window#waybar {
  background: #1a1b26; 
  border: 3px solid #414868;
  border-radius: 10px;
}

#workspaces{
  background: rgba(23, 23, 23, 0.0);
  box-shadow: none;
  text-shadow: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
}

#workspaces button {
  background: rgba(23, 23, 23, 0.0);
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-spacer {
  opacity: 0.0;
}
